<!DOCTYPE html>
<html lang="en">
<head>
  <title>Database and Node.js</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="table-data">
<h2 class="text-center font-italic">Eshop Categories</h2>
    <table border="1" class="table table-hover table-dark table-sm table-striped">
        <caption>Categories on eshop</caption>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Date_upd</th>
            <th>Date_add</th>
            <th>Active</th>
            <th>Level_depth</th>
            <th>ID_shop_default</th>
            <th>ID_parent</th>
            <th>ID_category</th>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=data.name %></td>
            <td><%=data.date_upd %></td>
            <td><%=data.date_add %></td>
            <td><%=data.active %></td>
            <td><%=data.level_depth %></td>
            <td><%=data.id_shop_default %></td>
            <td><%=data.id_parent %></td>
            <td><%=data.id_category %></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>